<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4 col-sm-auto col-lg-4 col-lg-auto">
        </div>
        <div class="col-sm-4 col-sm-auto col-lg-4 col-lg-auto">
            <h3>Connect</h3>
            <a href="https://www.linkedin.com/in/alexanderfcormier/" class="fa fa-linkedin"></a>
            <a href="mailto: a1ccormier@gmail.com" class="fa fa-google"></a>
            <a href="https://github.com/n001ce/group-up" class="fa fa-github"></a>
        </div>
        <div class="col-sm-4 col-sm-auto col-lg-4 col-lg-auto">
            <img src="" alt="" class="icon">
        </div>
    </div>
</footer>

</body>
</html>