<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<div id="home">
  <div class="landing-text">
      <h1>GROUP UP</h1>
      <h3>Build the perfect Team</h3>
  </div>
</div>
<div class="padding">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <img src="/images/pages/rein.png" alt="">
          </div>
          <div class="col-sm-6 text-center">
              <h2>SHARE YOUR STATS</h2>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magnam, recusandae nam officiis dolores quis! Laboriosam ea voluptas id, deleniti facilis eum molestiae? Animi quos maxime odio. Quis, officiis ipsum?</p>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magnam, recusandae nam officiis dolores quis! Laboriosam ea voluptas id, deleniti facilis eum molestiae? Animi quos maxime odio. Quis, officiis ipsum?</p>
          </div>
      </div>
  </div>
</div>
<div class="padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>FIND YOUR GROUP</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium explicabo excepturi odit? Voluptatum quo impedit ut non architecto cum, ab obcaecati dolorum ipsum molestiae eveniet! Sint sed eius optio!</p>  
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <img src="" alt="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <h4>SHARE YOUR CLIPS</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sunt veniam voluptas provident, quas ducimus modi? In sapiente iusto aperiam saepe sequi veritatis veniam! Repellendus labore deserunt necessitatibus consequatur itaque.</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <img src="" alt="">
          </div>
      </div>
  </div>
</div>

<%- include('./partials/footer') %>
