<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<div id="home">
  <div class="landing-text">
      <h1>GROUP UP</h1>
      <h3>Build the perfect Team</h3>
  </div>
</div>
<div class="padding">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <img src="/images/pages/overwatch.png" alt="">
          </div>
          <div class="col-sm-6 text-center">
              <h2>Look Up Stats</h2>
              <p class="lead">With the stat finder search bar have no fear when picking your team. Simply type in the gamertag listed in the profiles in the search bar at the nav.</p>
          </div>
      </div>
  </div>
</div>
<div class="padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>FIND YOUR GROUP</h4>
            <p>Create a LFG Post to find your perfect team</p>  
            <p>Once your team has been filled, you can change the status of each Role</p>  
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <img src="" alt="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <h4>SHARE YOUR THOUGHTS</h4>
              <p>Send a message to the group on the LFG page if you have any questions before joining.</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <img src="" alt="">
          </div>
      </div>
  </div>
</div>

<%- include('./partials/footer') %>
