

@font-face {
    font-family: 'owfont';
    src: url('/images/pages/big_noodle_titling_oblique.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body{
  height: 100%;
  width: 100%;
}

.navbar{
  background-color: rgb(31, 30, 30);
  padding: 1% 0;
  font-size: 1.2em;
}

.navbar-brand{
  min-height: 55px;
  padding: 0 15px 5px
}
.navbar-default .navbar-nav li a{
  color: #d5d5d5;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
  color: white
}

#home{
  background: url('/images/pages/background.jpg') no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1{
  font-size: 500%;
  font-weight: 700;
}

.padding{
  padding: 80px 0;
}

.padding img{
  width: 100%;
}

#fixed{
  background: url("/images/pages/OW_heroes.png") no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}

footer{
  width: 100%;
  background-color: rgb(31, 30, 30);
  padding: 5% 5% 10% 5%;
  color: #FFF;

}

.fa{
  padding: 15px;
  font-size: 25px;
  color: #FFF;
}

.fa:hover{
  color: #D5D5D5;
  text-decoration: none;
}

.icon{
  max-width: 200px;
}
#lfg{
  background: url('/images/pages/volskaya-industries-4.jpg') no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
#profile{
  background: url('/images/pages/anna.jpg') no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
#friendsList{
  background-color: yellow;
  height: 50vh;
  padding-right: 40px;
}
#sidePanel{
  background-color: red;
  height: 100vh;
}

#threadList{
  background-color: rgba(255, 255, 255, 0.87);
  border-left:solid 2px rgba(27, 27, 27, 0.63);
  border-right:solid 2px rgba(27, 27, 27, 0.63);
  box-shadow: 3px 0px -3px 0px grey;
  height: 100vh;
}

@media (max-width: 768px){
  .landing-text h1{
      font-size: 300%;
  }
  .fa{
      font-size: 20px;
      padding: 10px;
  }
  .icon{
      padding-top: 5%;
      max-width: 100px;
  }
}

.tableHead{
  color: white;
  background-color: rgba(34, 119, 231, 0.568);
}

.tableSec{
  color: black;
  background-color: rgba(202, 196, 196, 0.589);
}

table{
  width: 100%;

}

#lfgForm{
  font-family: owfont;
  text-align: center;
  background-color: rgb(16, 1, 85);
  padding: 40px 40px;
  border-radius: 10px;
  box-shadow:rgba(43, 42, 42, 0.39) 10px 10px 10px 10px,rgba(24, 23, 23, 0.397) -10px -10px 10px 10px;
  color: white;
}
#heroSlots{
  display: flex;
  flex-wrap: wrap;
}
.box{
  font-family:owfont;
  background-color: rgba(48, 7, 230, 0.123);
  padding: 20px;
  text-align: center;
  width: 100%;
  color: white;
  justify-content: center;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;


}

#title-input{
  min-width:  400px;
}