<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/error.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>PLAYER NOT FOUND</title>
</head>
<body>
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-sm-12 mt-5 p-2">
                <img src="/stylesheets/dvagif.gif" class="error-image" alt="error-page">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <span class="text-black error papyrus">404 <strong class="text-warning"> Error</strong></span>
                <br>
                <h5 class="text-uppercase mt-4 font-weight-bold">Oops! Player</h5>
                <span>Sorry, The player you are searching for has their account set to Private or they do not exist</span>
            <div class="mt-4 text-center">
                <a href="/posts" class="btn btn-outline-primary border-primary shadow-lg align-self-center">Return Home</a>
            </div>
        </div>
        </div>
    </div>
</body>
</html>