<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div id="home">
  <div class="padding">
    <div class="container col-sm-12 form-group" id="lfgForm">
      <h1 class="text-align-center">LOOK FOR GROUP</h1>
      <form id="new-form" action="/posts" method="POST" >
            <div class="box">
              <label for="title-input"><h3>Title: </h3></label><br>
              <input type="text" id="title-input" name="title">
            </div>
            <div class="box">
              <label for="queue-input"><h3>QUEUE</h3></label>
              <select class="form-select align-items-center justify-content-between" id="exampleFormControlSelect2" name="queue">
                <option value="Competitive">Competitive</option>
                <option value="QuickPlay">Quick Play</option>
              </select>
            </div>
            <div class="box">
              <label for="eroles-input"><h3>Enforced Roles</h3></label><br>
              <input type="checkbox" name="eroles" checked id ="eroles-checkbox" value="eroles">Yes/No<br>
            </div>
            <div class="box">
              <h2>Hero Slots</h2><br>
            </div>
            <div class="box" id="heroSlots">
              <label for="support1-input">
                <img src="/images/pages/New_Support_Icon.png" width="50" alt="">
                <input type="checkbox" name="support1"  value="support1"><br>
              </label>
              <label for="support2-input">
                <img src="/images/pages/New_Support_Icon.png" width="30" alt="">
                <input type="checkbox" name="support2" value="support2"><br>
              </label>  
              <label for="dps1-input">
                <img src="/images/pages/New_Damage_Icon.png" width="50" alt="">
                <input type="checkbox" name="dps1"  value="dps1"><br>
              </label>
              <label for="dps2-input">
                <img src="/images/pages/New_Damage_Icon.png" width="50" alt="">
                <input type="checkbox" name="dps2"  value="dps2"><br>
              </label>
              <label for="tank1-input">
                <img src="/images/pages/New_Tank_Icon.png" width="50" alt="">
                <input type="checkbox" name="tank1"  value="tank1"><br>
              </label>
              <label for="tank2-input">
                <img src="/images/pages/New_Tank_Icon.png" width="50" alt="">
                <input type="checkbox" name="tank2"  value="tank2"><br>
              </label
            </div>
            </div>
        </div>
        <button type="submit">Add Post</button><br>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>