<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div id="lfg">
  <div class="padding">
    <div class="container" id="lfgForm">
      <h2>LOOK FOR GROUP</h2>
      <form id="new-form" action="/posts" method="POST" >
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="title-input">Title: </label>
            <input type="text" id="title-input" name="title"><br>
            <label for="queue-input">QUEUE</label>
            <select class="form-select align-items-center justify-content-between" id="exampleFormControlSelect2" name="queue">
              <option value="Competitive">Competitive</option>
              <option value="QuickPlay">Quick Play</option>
            </select><br>
            <label for="eroles-input">Enforced Roles</label>
            <input type="checkbox" name="eroles" checked id ="eroles-checkbox" value="eroles">Yes/No<br>
            <h1>Hero Slots</h1><br>
            <label for="support1-input">Support</label>
              <input type="checkbox" name="support1" checked id="support1-checkbox" value="support1"><br>
              <label for="support2-input">Support</label>
              <input type="checkbox" name="support2" checked id="support2-checkbox" value="support2"><br>
              <label for="dps1-input">DPS</label>
              <input type="checkbox" name="dps1" checked id="dps1-checkbox" value="dps1"><br>
              <label for="dps2-input">DPS</label>
              <input type="checkbox" name="dps2" checked id="dps2-checkbox" value="dps2"><br>
              <label for="tank1-input">Tank</label>
              <input type="checkbox" name="tank1" checked id="tank1-checkbox" value="tank1"><br>
              <label for="tank2-input">Tank</label>
              <input type="checkbox" name="tank2" checked id="tank2-checkbox" value="tank2"><br>
            </div>
        </div>
        <button type="submit">Add Post</button>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>